<% include templates/header %>
    <script src="js/settings.js"></script>
  </head>

  <body>
  <% include templates/sidebar %>

    <div id="page-content-wrapper" ng-app="myApp" ng-controller="myCtrl">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-4 setting-window">
              <h4>Output sound watcher</h4>
              <hr>
              <button class="btn btn-primary">start</button>
              <button class="btn btn-primary">stop</button>
              <button class="btn btn-primary">restart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% include templates/sidebar-footer %>
<% include templates/footer %>
