
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Loopback Audio Visualiser
                    </a>
                </li>
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/settings">Settings</a>
                </li>
            </ul>
            <div class="color-bar red-bar">
              &zwnj;
            </div>
            <div class="color-bar yellow-bar">
              &zwnj;
            </div>
            <div class="color-bar green-bar">
              &zwnj;
            </div>
            <div class="color-bar blue-bar">
              &zwnj;
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
