<html>
  <head>
    <title>M.E.A.N. Audio Visualisation App</title>
    <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bower_components/angular/angular.min.js"></script>
    <script src="vendor/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/bower_components/socket.io-client/socket.io.js"></script>
    <script src="vendor/bower_components/JSColor/jscolor.js"></script>

